<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://img.icons8.com/ios-glyphs/50/ffffff/categorize.png" style="width:25px; height:25px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">My Work</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>
<h2 class="heading"><b>About Me</b></h2>
<div class="content">
    <div>
      I'm Pradeep Anand, an enthusiastic and learning web developer. I have created Angular web pages and worked with technologies like Node.js and various other frameworks. Internship experience in various MNCs and an ardent learner and team player.
    </div><br>
 <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" autocomplete="off">
  <div class="form-group">
    <label for="email">Email address</label>
    <input [ngClass]="{'is-invalid': myForm.get('email').invalid && myForm.get('email').touched}" type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email" [ngStyle]="{'background-color': (myForm.get('email').invalid && myForm.get('email').touched) ? '#ff5858' : (!(myForm.get('email').invalid) ? '#c5ff9a' : null)}">
    <small *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="text-danger">*Email incorrect</small>
    <!--[ngStyle]="{'background-color': (myForm.get('email').invalid && myForm.get('email').touched) ? '#ff5858' : (!(myForm.get('email').invalid) ? '#c5ff9a' : null)}"-->
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" id="role" formControlName="role">
      <option>MEAN Stack Developer</option>
      <option>Software Developer</option>
      <option>Quality Analyst</option>
      <option>Sales Executive</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="aboutU">Love to know about you</label>
    <textarea  [class.is-invalid] = "myForm.get('aboutU').invalid && myForm.get('aboutU').touched" class="form-control" placeholder="Atleast 25 characters" id="aboutU" rows="3" formControlName="aboutU" appMydirective></textarea>
      <small *ngIf="myForm.get('aboutU').invalid && myForm.get('aboutU').touched" class="text-danger">Required a bit more about you.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
 <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      <td>{{value.id}}</td>
      <td>{{value.title}}</td>
      <td>{{value.body}}</td>
    </tr>
  </tbody>
</table>
<!--{{data|json}}-->
</div>
<div class="footer">
  <small class="text-warning">©Pradeep2898</small>
</div>
</body>
</html>